</h1>
<h1>Welcome! 
<%= session[:username] %>
</h1>
<ul>
<% @questions.each do |q| %>
	<li><a href="/questions/<%= q.id %>/answers/show"><%= q.body %></a>   <a href="/questions/<%= q.id %>/answers/new">Answer Question</a></li>
<% end %>
</ul>


<form method="post" action="/questions">
	<input type="text" name="question">
	<input type="submit" value="Ask Question">
</form>

<form action='/questions/<%= current_user.id %>' method='get'>
	<input type='submit' value='View My Questions'>
</form>

<form action='/answers/<%= current_user.id %>' method='get'>
	<input type='submit' value='View My Answers'>
</form>

<form action='/sessions' method='post'>
	<input type="hidden" name="_method" value="delete">
	<input type='submit' value='Logout'>
</form>