</h1>
<h1>Welcome! 
<%= session[:username] %>
</h1>
<ul>
<% @questions.each do |q| %>
	<li><a href="/questions/<%= q.id %>/answers/show"><%= q.body %></a>   <a href="/questions/<%= q.id %>/answers/new"><button>Answer Question</button></a>

	<form action='/questions/<%= q.id %>/upvote' method='post'>
		<input type='submit' value='Upvote | <% if q.question_votes.nil? %>0<% else %><%= q.question_votes.where(vote: 1).count %><% end %>'>
	</form>
	<form action='/questions/<%= q.id %>/downvote' method='post'>
		<input type='submit' value='Downvote | <% if q.question_votes.nil? %>0<% else %><%= q.question_votes.where(vote: 0).count %><% end %>'>
	</form>

	</li>
<% end %>
</ul>


<form method="post" action="/questions">
	<input type="text" name="question">
	<input type="submit" value="Ask Question">
</form>

<form action='/questions/<%= current_user.id %>' method='get'>
	<input type='submit' value='View My Questions'>
</form>

<form action='/sessions' method='post'>
	<input type="hidden" name="_method" value="delete">
	<input type='submit' value='Logout'>
</form>